body {
margin-left:10%;
margin-right:10%;
background-color:#bfbfbf; 
/*color=light gray*/
min-width:720px;
margin: 0 atuo;
}
div {
box-shadow:2px 5px;
border: black solid 2px;
border-radius: 22px;
background-color: white;
padding:1em;
margin:2px;	
}	
h1 {
background-color:#F9966B;
/*color=light salmon*/
padding:1em;
border-width:1.5px;
border-style:dotted;
border-color:black;
margin:5px;
font-family:Comic Sans MS;
font-size:58px;
text-align: center;
}
h2 {
text-align: center;
font-size:34px;
font-family:Trebuchet MS;
}
h3 {
font-family:Trebuchet MS;
font-size:25px;
}
p {
margin:28px;
font-family:Comic Sans MS;
font-size:22px;
}
ul {
background-color: white;
margin:0 auto;
font-size:23px;
font-family:Comic Sans MS;
}
li {
font-family:Comic Sans MS;
font-size:23px;
margin: 0 auto;
}
ol {
font-family:Comic Sans MS;
font-size:23px;
margin: 0 auto;
}
table{
	padding:1.5em;
	border-width:5px;
	border-style:solid;
	border-color:black;
	margin: 0 auto;
	font-family:Comic Sans MS;
	font-size:26px;
	text-align: center;
}
th {
	padding:1em;
	border-width:2px;
	border-style:dotted;
	border-color:black;
	font-size:26px;
	background-color:#46C7C7;
	/*color=jellyfish*/
	font-family:Comic Sans MS;
}
td {
	padding:1em;
	border-width:2px;
	border-style:solid;
	border-color:black;
	background-color:#FAAFBA;
	/*color=light pink*/
	font-family:Comic Sans MS;
	font-size:26px;
}
caption{
	font-family:Comic Sans MS;
	font-size:28px;
	margin: 0 auto;
}
div#skipnav{
	color:black;
	text-align:center;
	font-size:20px;
	font-family:Trebuchet MS;
	width:10em;
	margin-left:25em;
}
/*navigation menu style*/
a.link:link, a.link:visited{
	background-color:white;
	padding: 14px 25px;
	text-alignment:center;
	text-decoration:underline;
	display:inline-block;
	width:7.23m;
	top: 50%;
   	 left: 50%;
   	 margin-right: -50%;

}
a.link:hover, a.link:active{
	background-color:white;
	color:red;
}
	
/*nav{
/*padding: 0.50em 0.50em;*/
/*text-decoration: none; 
background-color:white;
border: black solid 2px;
border-top-left-radius: 1em 1em; 
border-top-right-radius: 1em 1em; 
/*border-bottom-left-radius: 1em 1em;
border-bottom-right-radius: 1em 1em;*/
/*float:center;
position:fixed;
right:5px;
left: 5px;
top:5px;
font-family:Comic Sans MS;
font-size:22px;
}*/
/*nav a:hover, a:focus {
color: red;
background-color: white;
font-weight: bold;
font-size:22px;
}*/
