body {
margin-left:10%;
margin-right:10%;
background-color:#bfbfbf; 
/*color=light gray*/
min-width:720px;
margin:0 atuo;
}
div {
box-shadow:2px 5px;
border: black solid 2px;
border-radius: 22px;
background-color: white;
padding:1em;
margin:4px;	
}	
h1 {
background-color:#F9966B;
/*color=light salmon*/
padding:1em;
border-width:1.5px;
border-style:dotted;
border-color:black;
margin:5px;
font-family:Comic Sans MS;
font-size:58px;
text-align: center;
}
h2 {
text-align: center;
font-size:34px;
font-family:Trebuchet MS;
}
h3 {
font-family:Trebuchet MS;
font-size:25px;
}
p {
font-family:Comic Sans MS;
font-size:22px;
margin:28px;
}
ul {
font-family:Comic Sans MS;
font-size:22px;
margin: 0 auto;	
}
li {
font-family:Comic Sans MS;
font-size:22px;
margin: 0 auto;
}
ol {
font-family:Comic Sans MS;
font-size:22px;
margin: 0 auto;
}
table{
	padding:.50em;
	border-width:5px;
	border-style:solid;
	border-color:black;
	margin: 0 auto;
	font-family:Comic Sans MS;
	font-size:21px;
	text-align: center;
}
th {
	padding:.50em;
	border-width:2px;
	border-style:dotted;
	border-color:black;
	font-size:21px;
	background-color:#F9966B;
	/*color=salmon*/
	font-family:Comic Sans MS;
}
td {
	padding:.50em;
	border-width:2px;
	border-style:solid;
	border-color:black;
	background-color:#76D7C4;
	/*color=light coral*/
	font-family:Comic Sans MS;
	font-size:21px;
}
caption{
	font-family:Comic Sans MS;
	font-size:24px;
	margin: 0 auto;
}
/*navigation menu style*/
a.link:link, a.link:visited{
	background-color:white;
	padding: 6.5px 6.5px;
	text-align:center;
	text-decoration:underline;
	display:inline-block;
	width:5.5em;
	color:black;
	font-size:17px;
	list-style-type: none;
	font-family: Arial Black;
	margin:.25em; 
}
a.link:hover, a.link:active{
	background-color:white;
	color:red;
}
