body {
margin-left:10%;
margin-right:10%;
background-color:#98AFC7; 
/*color=blueish-gray*/
min-width:720px;
margin: 0 atuo;
}
div {
box-shadow:2px 5px;
border: black solid 2px;
border-radius: 22px;
background-color: white;
padding:1em;
margin:3px;	
}	
h1 {
background-color:#ffb3b3;
/*color=light pink*/
padding:1em;
border-width:1.5px;
border-style:dotted;
border-color:black;
margin:5px;
font-family:Comic Sans MS;
font-size:58px;
text-align: center;
}
h2 {
text-align: center;
font-size:27px;
font-family:Trebuchet MS;
}
h3 {
font-family:Trebuchet MS;
font-size:23px;
}
p {
margin:28px;
font-family:Trebuchet MS;
font-size:22px;
}
ul {
background-color: white;
margin:0 auto;
font-size:23px;
font-family:Comic Sans MS;
}
li {
font-family:Comic Sans MS;
font-size:23px;
margin: 0 auto;
}
ol {
font-family:Comic Sans MS;
font-size:23px;
margin: 0 auto;
}
/*navigation menu style*/
nav{
position: fixed;
padding: 0.50em 0.50em;
text-decoration: none; /* no underline */
background-color:white;
border: black solid 2px;
border-top-left-radius: 1em 1em; /* rounded corner! */
border-top-right-radius: 1em 1em; /* another rounded corner! */
border-bottom-left-radius: 1em 1em;
border-bottom-right-radius: 1em 1em;
float:right;
right:5px;
top:5px;
font-family:Comic Sans MS;
font-size:22px;
}
nav a:hover, a:focus {
color: red;
background-color: white;
font-weight: bold;
font-size:22px;
}
